.main-cont {
    height: 90vh;
    
}

.nav-bar {
    height: 50px;
    width: 100%;
    background-color: aqua;
}

.disp-cont {
    display: flex;
    justify-content: center;
}

.inside-cont {
    padding: 5px;
    display: flex;
    width: 30%;
    height: auto;
    padding-bottom: 20px;
}

.inside-seats-left {
    padding-top: 25px;
    padding-left: 60px;
    column-count: 3;
    background-color: white;
    width: 100%;
    height: 100%;
    border: 10px solid black;
}

.inside-seats-right {
    border-top: black solid 1px;
    border-bottom: black solid 5px;
    border-right: black solid 1px;
    padding-top: 25px;
    padding-left: 10px;
    column-count: 3;
    width: 100%;
    background-color: white;
    height: 100%;
}

.seat {
    border-radius: 5px;
    align-content: center;
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
    background-color: red;
}

.inside-seats {
    display: flex;
}


button {
    background-color: rgb(204, 151, 6);
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  
.btn {
    background-color: rgb(116, 201, 116);
    border-radius: 0px;
    box-shadow: rgb(214, 123, 62) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn {
    box-shadow: rgba(53, 44, 187, 0.35) 0 -25px 18px -14px inset,rgba(231, 108, 7, 0.993) 0 1px 2px,rgb(6, 134, 238) 0 2px 4px,rgba(251, 255, 0, 0.884) 0 4px 8px,rgb(255, 0, 200) 0 8px 16px,rgba(240, 240, 240, 0.877) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

