<div class="container">
    <h2 class="card-header">Pessenger Details</h2>
    <div class="card-body">
      <form name="PassengerDetails" #addPassengerForm="ngForm" (ngSubmit)="addPassenger()">
        <div class="insideform">
        <table>
          <tr *ngFor="let l of passanger">
            <h4>Add Seat Number {{l.seatNumber}} Passanger Detail </h4> <br>
            <div>
            <label for="name" >Name</label><br>
            <input type="text" name="name" id="name" [(ngModel)]="l.name" #name="ngModel" required/>
            <div *ngIf="name.touched && !name.valid">
              <div *ngIf="name.errors['required']" [ngStyle]="{color:'red','font-size':'10px'}">Please enter name</div>
          </div> 
            </div>
            <div>
            <label for="gender">Gender</label><br>
            <select id="gender" name="gender" [(ngModel)]="l.gender" #gender="ngModel" required>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
            <div *ngIf="gender.touched && !gender.valid">
              <div *ngIf="gender.errors['required']" [ngStyle]="{color:'red','font-size':'10px'}">Please select gender</div>
          </div> 
            </div>
            <div>
            <label for="Age">Age</label><br>
            <input type="text" name="age" id="age" [(ngModel)]="l.age" #age="ngModel" required/>
            <div *ngIf="age.touched && !age.valid">
              <div *ngIf="age.errors['required']" [ngStyle]="{color:'red','font-size':'10px'}">Please enter  age</div>
          </div>
            </div>
            <hr>
            <br>
          </tr>
        </table>  
        <br>
        <br>
          <div *ngIf="addPassengerForm.valid">
            <button type="submit">Make Payment</button>
          </div>
          </div>
      </form>
    </div>
</div>
