<body>
	<div class="row">
		<h1>Forgot Password</h1>
		<h6 class="information-text">Enter your registered Email and new Password</h6>
		<div class="form-group">
			<input type="text" [(ngModel)]="email" name="email" id="user_email">
			<p><label for="username">Email</label></p>
            <input type="password" [(ngModel)]="password" name="password" id="user_email">
			<p><label for="username">Password</label></p>
			<button type="submit" (click)="getUser()">Reset Password</button>
		</div>
		<div class="footer">
			<h5>New here? <a href="http://localhost:4200/registation">Sign Up.</a></h5>
			<h5>Already have an account? <a href="http://localhost:4200/login">Sign In.</a></h5>
			<p class="information-text">--------------</p>
		</div>
	</div>
</body>