body{
    margin:0;
    padding: 0;
    background-color: rgba(20, 120, 200, 0.6);
    background-size: cover;
    font-family: sans-serif;
  
  }
  h1{
    color: #fff;
    font-size: 30px;
  }
  
  .box{
    position: absolute;
    top: 50%;
    left: 50%; 
    width: 500px;
    transform: translate(-50%,-50%);
  }
  input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box; 
    transition: .5s;
  }
  
  input[type="text"]{
    background: #fff;
    height:50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
  }
  
  input[type="submit"]{
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #506b7c;
    color: #fff;
  }
  
  input[type="submit"]:hover{
    background: red;
  }
  
  #header {
      background-color: #fff;
      position: fixed;
      width: 100%;
  }
  
  nav ul,
  footer ul {
      float: right;
      margin-right: 2em;
  }
  nav li,
  footer li {
      padding: 1px;
      display: inline-block;
  }
  
  a {
      text-decoration: none;
  }
  
  hr {
      background-color: #000;
  }