<nav class="c1">
    <h1>Welcome {{name}} to Wing Airlines Service!!</h1><br>
    <button routerLink="flight-search">Search Flight</button> &nbsp; &nbsp;
    <button routerLink="booktickets">Book Tickets</button> &nbsp; &nbsp;
    <button routerLink="cancelticket">Cancel Ticket</button> &nbsp; &nbsp;
    <button routerLink="booktickets/seat-select/passenger/payment/ticket">Ticket</button>
    <button routerLink="../login">Logout</button>

    <div>
        <button (click)="listData()">Ticket History</button> &nbsp; &nbsp;
        <table class="container">
            <thead>
                <tr>
                  <th>TicketID</th>
                  <th>Number of Passenger</th>
                  <th>Ticket Type</th>
                  <th>JourneyDate</th>
                  <th>Status</th>
                  <th>FlightID</th>
                  <th>Ticket Amount</th>
                  <th>UserID</th>
                </tr>
              </thead>
        <tbody>
          <tr *ngFor="let l of listItem">
            <td>{{l.ticketid}}</td>
            <td>{{l.no_of_pasanger}}</td>
            <td>{{l.type_of_ticket}}</td>
            <td>{{l.date_of_booking}}</td>
            <td>{{l.status}}</td>
            <td>{{l.flightId}}</td>
            <td>{{l.ticket_amount}}</td>
            <td>{{l.userid}}</td>
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table> 
    </div>
    
</nav>